.web-civi-checkbox-set {
  padding-left:0;
  position:relative;
}

.web-civi-checkbox-set .form-item {
  float:left;
  margin-left:1em;
  min-width:15em;
}

.web-civi-checkbox-set .form-item div.description {
  max-width: 20em;
}

form #web-civi-help {
  float:right;
}

div.form-item-activity-targets div.form-item,
#edit-activity-assignee-group-wrapper,
#civicrm-ajax-act-case-activity-fieldsassignee {
  float:left;
  margin-right:1em;
}

.web-civi-checkbox-set + div,
#civicrm-ajax-act-case-activity-fieldsassignee + div,
#edit-activity-assignee-group-wrapper {
  clear:both;
}

.hidden, .js #no-js-button-wrapper {
  display:none;
}

#webform-civicrm-configure-form legend+.description {
  font-size:0.85em;
}

#webform-civicrm-configure-form .form-item label {
  display:inline;
}

#webform-civicrm-configure-form .progress-disabled {
  float:none;
}

#webform-civicrm-configure-form .ahah-progress-throbber {
  display:inline-block;
  float:none;
}

th div.form-type-radio {
  display:inline;
  margin:0;
  padding:0;
}

.web-civi-js-select {
  display:none;
}

.js div.web-civi-js-select {
  display:block;
  font-size:0.8em;
  position:absolute;
  right:1em;
  padding:0.2em 0.5em;
  background-color:white;
  top:-2em;
  border:1px solid #CCCCCC;
}

.web-civi-js-select a:hover {
  cursor:pointer;
}
