.web-civi-checkbox-set {
  padding-left:0;
}

.web-civi-checkbox-set .form-item {
  float:left;
  margin-left:1em;
  width:20em;
}

div.form-item-activity-targets div.form-item,
#edit-activity-assignee-group-wrapper,
#civicrm-ahah-assignee {
  float:left;
  margin-right:1em;
}

#civicrm-ahah-assignee + div,
#edit-activity-assignee-group-wrapper {
  clear:both;
}

.hidden, .js #no-js-button-wrapper {
  display:none;
}

.civicrm-ahah-wrapper {
  clear:both;
}

#webform-civicrm-configure-form legend+.description {
  font-size:0.85em;
}

#webform-civicrm-configure-form .form-item label {
  display:inline;
}

#webform-civicrm-configure-form .progress-disabled {
  float:none;
}

#webform-civicrm-configure-form .ahah-progress-throbber {
  display:inline-block;
  float:none;
}
