{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
<ul class="token-input-list">
  <li class="token-input-input-token">
    <input{{ attributes }} />{{ children }}
  </li>
</ul>
